.header-div {
    height: 100vh;
    width: 100%;
}

.dashboard-header {
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
}

.dashboard-nav {
    padding: 0;
    width: 25%;
    display: flex;
    list-style: none;

}

.dashboard-nav li {
    margin-top: .5em;
    font-size: 1.5em;
    margin-right: auto;
}

.main-div {
    display: flex;
    height: 100vh;
}

.user-profile-details {
    height: 100vh;
    width: 25%;
    border: 1px black solid;
    display: grid;
    grid-template-rows: 10% 40% 50%;
}

.question-div {
    height: 100vh;
    width: 75%;
    border: 1px black solid;
}


